# Recommendation system using correlation in python

In this notebook, we will focus on providing a basic recommendation system by suggesting items that are most similar to a particular item, in this case, movies. Keep in mind, this is not a true robust recommendation system, to describe it more accurately,it just tells you what movies/items are most similar to your movie choice.


# source = https://grouplens.org/datasets/movielens/

# import libraries

In [27]:
import pandas as pd
import numpy as np

# getting the data ready

In [20]:
column_names = ['user_id','item_id','rating','timestamp']
df = pd.read_csv('u.data',sep= '\t',names= column_names)

In [21]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

# getting the movie titles

In [22]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [23]:
# this is used to map the item id with the movie titles

df = pd.merge(df,movie_titles,on= 'item_id')
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

# EDA performing EDA to get a look at some of the best rated movies

visualization imports

In [29]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

creating a ratings dataframe with average ratings and number of ratings

In [31]:
df2 = df.groupby('title')['rating'].mean().sort_values(ascending= False)

In [34]:
df2.head()

title
They Made Me a Criminal (1939)                5.0
Marlene Dietrich: Shadow and Light (1996)     5.0
Saint of Fort Washington, The (1993)          5.0
Someone Else's America (1995)                 5.0
Star Kid (1997)                               5.0
Name: rating, dtype: float64